html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-size: 15pt;
    background: black;
    color: white;
    background: black;
    background: url(Image/BGHappy.jpg) repeat-y;
    background-size: cover;
}

.wrapper_site {
    background: rgba(0, 0, 0, 0.55);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

a:link {
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
    transition: top 0.5s linear;
}

.logo {
    width: 100px;
    height: 45px;
    margin: 10px;
}

ul.menu {
    display: flex;
}

ul.menu li {
    width: 80%;
    margin: 10px;
    font-size: 12px;
    text-transform: uppercase;
}

.mywork {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 23px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.9);
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 30px;
}


/* slider op*/

.wrapper {
    position: relative;
    top: 0;
    left: 0px;
    width: 100vw;
    height: 60vh;
    opacity: 0;
    transition: opacity 0.5s linear;
}

.slides {
    position: absolute;
    top: 0;
    left: 0;
}

.slide {
    width: 100vw;
    height: 60vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 1s linear;
}

.slide:nth-child(1) {
    background: url(Image/Cars/Lc200.jpg) center center no-repeat;
    background-size: cover;
}

.slide:nth-child(2) {
    background: url(Image/Cars/forester.jpg) center center no-repeat;
    background-size: cover;
}

.slide:nth-child(3) {
    background: url(Image/Cars/Pajero.png) center center no-repeat;
    background-size: cover;
}

.slide:nth-child(4) {
    background: url(Image/Cars/patrol.jpg) center center no-repeat;
    background-size: cover;
}

.slide:nth-child(5) {
    background: url(Image/Cars/Fx37.jpg) center center no-repeat;
    background-size: cover;
}

.slide:nth-child(6) {
    background: url(Image/Cars/Vitara.jpg) center center no-repeat;
    background-size: cover;
}

.slide_active {
    opacity: 1;
    transition: opacity 0.5 linear;
}

.text {
    padding-top: 10px;
    text-align: center;
    width: 70px;
    height: 30px;
    opacity: 1;
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 30px;
}

.title_text {
    margin: 0px 0 20px 0;
    font-size: 12pt;
    text-align: center;
}

.title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 62px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    margin: 20px auto;
    color: #D72727E6;
}

.title_h3 {
    text-align: center;
    padding: 20px;
}

.title_h4 {
    text-decoration: underline red;
    text-align: center;
}

.services li {
    list-style-type: none;
    font-size: 12pt;
    margin: 10px auto;
}

.fullWidth {
    width: 100%;
}

.conteinerOne {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.services {
    width: 50%;
    padding: 10px;
}

@media screen and (max-width: 530px) {
  .header{
     background: rgba(0, 0, 0, .6);
     height: 60px;
     justify-content: space-between;

  }
    .logo{
      width: 85px;
      height: 35px;
      position: absolute;
      top: 0;
      margin-left: 10px;

    }
    ul.menu{
      display: none;
    }
    .wrapper{
      height: 40vh;
    }
    .slide{
      height: 40vh;
    }
    .conteiner{
      
      min-width: 100vw;
      margin: 0;
      padding: 0;
      
    }
    
    .title{
      line-height: 30px;
      font-size: 30px;
      margin: 0;
      padding: 0;
      width: 100%;
      margin: 0;
    }
    .title_text{
      text-align: left;
      font-size: 12pt;
    }
    .conteinerOne{
      min-width: 100%;
      padding: 0;
      flex-direction: column;
      align-items: center;
    }
    .services{
      width: 94%;
    }
    .title_h3{
      font-size: 22px;
    }
    
}